.deleteuser-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, rgb(206, 206, 206), whitesmoke);
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    border: .1rem solid rgb(105, 105, 105);
    padding: 1.5rem 2rem;
    width: 50%;
    z-index: 1000;
}

.deleteuser-background {
    position: absolute;
    background-color: whitesmoke;
    opacity: .8;
    width: 100%;
    height: 95%;
    filter: blur(5rem);
}