.chart-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    margin: 1rem auto;
    width: 75%;
}

.chart-query {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
    
    .chart-container {
        width: 98%;
    }
    
}

@media only screen and (max-width: 500px) {
    
    .chart-query {
        display: flex;
        flex-direction: column;
    }
    
    
}